@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body
{
    background-color: gold;
    font-family: 'Indie Flower', cursive;
}

header
{
    background-image: url(../img/ima-binario.jpg);
    background-position: center center;
    position:absolute;
    top:0;
    right:0;
    left:0;
    height: 30vh;
}

h1
{
    color: snow;
    font-weight: bold;
    text-align: center;
    font-size: 350%;
    line-height: 20vh;
}

div#logo
{
    
    background-position: center center;
    width: 400px;
    height: 300px;
    position:absolute;
    margin-left: 470px;
    margin-right: 300px;
    margin-top: 580px;
    height: 30vh;
    border-radius: 10px;
}

div#question
{
    background-color: mintcream;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 0px;
    height: 15vh;
    position:absolute;
    top: 210px;
    right: 310px;
    left: 310px;
    border-radius: 5px;
}

div#abstract
{
    background-color: moccasin;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
    color: black;
    padding: 0px;
    position:absolute;
    top: 330px;
    right: 240px;
    left: 240px;
    border-radius: 5px;
}

div#imagen
{
   background-image: url(../img/tarjeta.png);
    background-position: center center;
    width: 400px;
    height: 300px;
    position:absolute;
    margin-left: 470px;
    margin-right: 300px;
    margin-top: 580px;
    height: 30vh;
    border-radius: 10px;
}


footer
{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    padding: 10px;
    width: 100%;
    height: auto;
    position:absolute;
    top: 1200px;
    right:0;
    left:0;
}
